.bonus {
    .bonus-img {
        background-color: gray;
        width: 100%;
        height: 300px;
    }
    .bonus-title {
        font-family: $primFont;
        font-weight: bold;
        font-size: 24px;
    }
    .bonus-text {
        font-family: $secondFont;
        font-size: 16px;
        color: $textCol;
    }
}

.btn-yellow {
    background: transparent linear-gradient(180deg, #FFD138 0%, #E6A100 100%) 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 5px;
    font-family: $secondFont;
    font-weight: bold;
    font-size: 14px;
    width: 176px;
    height: 50px;
}