@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');

$primFont: 'Alegreya', serif;
$secondFont: 'Roboto', sans-serif;