footer {
    background: transparent linear-gradient(180deg, #5B5B5B 0%, #3D3D3D 100%) 0% 0% no-repeat padding-box;
    color: $lightCol;
    font-family: $secondFont;
    .footer-logo {
        font-family: $primFont;
        font-weight: bold;
        color: $lightCol;
        span {
            color: $primaryCol;
        }
    }
    p {
        font-size: 14px;
    }
    h2 {
        color: #E6A100;
        font-weight: bold;
        font-family: $primFont;
        font-size: 20px;
        margin-top: 2em;
    }
    .info-index {
        a {
            color: $lightCol;
            text-decoration: none;
            font-size: 14px;
        }
    }
    .footer-hr {
        background-color: #E6A100;
        width: 100%;
        height: 1px;
    }
    .copyright--ctn {
        a {
            color: $lightCol;
            text-decoration: none;
        }
        h3 {
            font-size: 12px;
            margin: 20px 0px;
        }
    }
    .footer-help {
        .fa-life-ring {
            font-size: 30px;
            margin-right: 10px;
        }
    }
    .footer-social {
        display: flex;
        justify-content: center;
        .footer-social--facebook, 
        .footer-social--twitter {
            margin-right: 20px;
        }
    }
}

.footer-img {
    background-color: gray;
    width: 117px;
    height: 175px;
}

.footer-social--facebook,
.footer-social--twitter,
.footer-social--instagram {
    border: 1px solid $lightCol;
    border-radius: 200px;
    width: 40px;
    height: 40px;
}