nav {
    background: transparent linear-gradient(180deg, #171717 0%, #3D3D3D 100%) 0% 0% no-repeat padding-box;
    .navbar-nav {
        font-size: 14px;
    }
}

.company-logo {
    font-family: $primFont;
    font-weight: bold;
    span {
        color: $primaryCol;
    }
}